@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*
  @import url(navbar.css);
*/

:root {
  --background: rgba(19, 19, 19, 1.0);
  --trans: rgba(19, 19, 19, .75);
  --clr: #00a6ff;
  /*--cr: #0a90d8;*/
}

/* @import url('style.scss'); */

*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: url('https://cdn.playerzerostudios.com/assets/imgs/bg/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  width: 100%;
  height: 40%;
  font-weight: 400;
  box-sizing: border-box;
  color: white;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  border: 7px solid var(--background);
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0,  0, 0.5);
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(45deg, #06dee1, #69ff6c); */
  background: url('https://cdn.playerzerostudios.com/assets/imgs/other/scrollbar.png');
  border-radius: 3px;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  background-color: var(--trans);
  background-size: cover;
  display: grid;
  place-items: center;
}

  .header1 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px black;
  }
  
.paragraph {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px black;
  }

  section {
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    color: white;
  }

  .links {
    color: white;
    text-shadow: 4px 4px solid black;
  }

  .links:hover {
    color: #0094FF;
  }

  p {
    color: white;
  }

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }

  .gif-Destiny {
    float: left;
    padding-left: 15px;
    padding-top: 0px;
    width: 300px;
    color: white;
}

    .gif-Destiny:hover {
      color: white;
}

.Zachary {
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px black;
}

.introduction {
  color: white;
  text-shadow: 3px 3px black;
}

  .btn-success {
    margin-bottom: 5%;
  }

  footer {
    width: 100%;
    background-color: #591175;
  }
  
  .footer {
    margin: 0 auto;
    max-width: 1300px;
    text-align: center;
    color:  white;
  }


  .footer1 {
    font-size: 45px;
    font-weight: 400;
    padding-top: 15px;
    color: white;
    text-shadow: 3px 3px black;
  }

  .button_yt, .button_fam, .button_twitter, .button_watt, .button_red, .button_li, .button_gh, .button_gl {
   display: inline-block;
   height: 90px;
   width: 90px;
   overflow: hidden;
   background: #6e1591;
   border-radius: 50px;
   margin-right: 50px;
   cursor: pointer;
   box-shadow: 0 10px 10px rgba(0,0,0,.1);
   transition: all .3s ease-in-out;
  }
  
  .footer_icons .button_yt:hover {
    width: 350px;
  }
  
  .footer_icons .button_fam:hover {
    width: 500px;
  }
  
  .footer_icons .button_twitter:hover {
    width: 400px;
  }
  
  .footer_icons .button_watt:hover {
    width: 350px;
  }
  
  .footer_icons .button_li:hover {
    width: 500px;
  }
  
  .footer_icons .button_gh:hover {
    width: 600px;
  }
  
  .footer_icons .button_gl:hover {
    width: 330px;
  }
  
  .footer_icons .button_red:hover {
    width: 350px;
  }
  
  .button_yt, .button_fam, .button_twitter, .button_watt, .button_red, .button_li, .button_gh, .button_gl {
    color: white;
  }
  
  .button_yt:hover, .button_fam:hover, .button_twitter:hover, .button_watt:hover, .button_red:hover, .button_li:hover, .button_gh:hover, .button_gl:hover {
    color: white;
  }
  
  .footer_icons .button_yt,  .button_fam,  .button_twitter, .button_watt, .button_red, .button_li, .button_gh, .button_gl, .icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    text-align: center;
    border-radius: 60px;
    box-sizing: border-box;
    line-height: 50px;
  }
  
  .footer_icons .button_yt .button_fam .button_twitter .button_watt .button_red .button_li .button_gh .button_gl .icon i {
    line-height: 60px;
  }
  
  .footer_icons .button_yt,  .button_fam,  .button_twitter, .button_watt, .button_red, .button_li, .button_gh, .button_gl, span {
    font-size: 35px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 20px;
  }
  
  .button_yt, .button_fam,  .button_twitter, .button_watt, .button_red, .button_li, .button_gh, .button_gl {
    text-decoration: none;
    list-style: none;
  }
  
  .fa-gamepad {
    font-size: 60px;
    padding-right: 15px;
  }
  
  .fa-play-circle {
    font-size: 60px;
    padding-right: 15px;
  }
  
  .fa-info-circle {
    font-size: 60px;
    padding-right: 15px;
  }
  
  .fa-youtube {
    font-size: 60px;
    margin-top: 15px;
    color: #c4302b;
  }
  
  .fa-discord {
    font-size: 60px;
    margin-top: 15px;
    color: #7289DA;
  }
  
  .fa-twitter {
    font-size: 60px;
    margin-top: 15px;
    color: #6CADDE;
  }
  
  .fa-book {
    font-size: 60px;
    margin-top: 15px;
    color: #FF500A;
  }
  
  .fa-reddit {
    font-size: 60px;
    margin-top: 15px;
    color: #FF5700;
  }
  
  .fa-linkedin {
    font-size: 60px;
    margin-top: 15px;
    color: #0072B1;
  }
  
  .fa-github {
    font-size: 60px;
    margin-top: 15px;
    color: #333333;
  }
  
  .fa-gitlab {
    font-size: 60px;
    margin-top: 15px;
    color: #fc6d27;
  }

  span {
    font-size: 35px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 20px;
    color: white;
  }
  
  .footer-links-outer {
    display: flex;
    justify-content: center;
  }
  
  .footer-links .links {
    font-size: 32px;
    margin: 0.67em 0;
    text-decoration: underline;
    font-weight: 400;
    font-family: arial;
    text-shadow: unset;
  }

  .footer-links-outer {
      display: flex;
      justify-content: center;
      gap: 1em;
  }
  
  .footer-links .links {
      font-size: 32px;
      margin: 0.67em 0;
      text-decoration: underline;
      font-weight: 400;
      font-family: arial;
      text-shadow: unset;
  }

  .small-footer {
    top: 50%;
    display: inline-block;
    color: white;
    font-size: 17px;
    font-weight: 100;
  }

  .plogo {
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    width: 100%;
    height: 1rem;
    border-bottom: 2px solid white;
  }

  .fa-caret-down {
    margin-left: 5px;
  }

  .fa-caret-right {
    margin-left: 5px;
  }

  a:hover .fa-caret-down {
    transform: rotate(180deg);
    transition: all 500ms ease;
    margin-left: 5px;
  }
  
  a:hover .fa-caret-right {
    transform: rotate(270deg);
    transition: all 500ms ease;
    margin-left: 5px;
  }

  .sub-menu {
		transform: translateY(0px);
  }

  .fa-caret-right {
    padding-left: 5px;
  }

  .navbar__menu {
    margin-bottom: -80px;
    background: var(--background);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    list-style: none;
    text-decoration: none;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    margin:  0 auto;
    padding: 0 50px;
    list-style: none;
    text-decoration: none;
  }

  #navbar__logo {
    position: absolute;
    bottom: 1em;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: left;
    cursor: pointer;
    text-decoration: none;
  }

  .nav-list {
    margin-left: 35%;
    margin-top: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
  }

  .nav-list li {
    line-height: 8rem;
    position: relative;
  }

  .sub-menu li {
    line-height: 4rem;
  }

  .nav-list a {
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
    text-decoration: none;
  }

  .nav-list a:hover {
    color: #9370db;
  }

  .sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #9370db;
    background-color: var(--background);
    z-index: 100;
    top: 16rem;
    transition: all 650ms ease;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    text-decoration: none;
  }

  .sub-menu::before {
    content:"";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #9370db;
  }

  .sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #9370db;
  }

  .sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid #9370db;
    top: 0;
    left: 160%;
  }

  .nav-list li:hover > .sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
  }

  .sub-menu li:hover > .sub-menu {
    top: 0;
    left: 100%;
  }

  li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
  }

  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .menu-icons {
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
  }

  .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
  }

  .text h1 {
    font-size: 8rem;
    margin: 2rem 0;
  }

  .text h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  .text p {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }

  #btnScrollToTop {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 70px;
      height: 70px;
      font-size: 25px;
      border-radius: 50%;
      background: #01a2ff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
  }

  #btnScrollToTop:active {
      background: #236cda;
  }

  #btnScrollToTop:hover {
      background: #0099ff;
  }

/* Responsive Nav CSS for Mobile devices */

@media only screen and (max-width: 1331px) {

  #navbar__logo {
    position: relative;
    top: -5%;
    transform: translateY(-5%);
  }

  .nav-list {
      position: fixed;
      margin-top: 7.5%;
      width: 100rem;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      align-items: initial;
      background-color: var(--background);
      z-index: 1000;
      overflow-y: scroll;
  }

  .nav-list:active {
    display: block;
  }

  .nav-list > li {
      line-height: 6rem;
  }

  .sub-menu {
      position: initial;
      border: 3px solid transparent;
      border-left-color: #9370db;
      margin-left: 1rem;
      max-height: 0;
  }

  .sub-menu:hover {
    color: #9370db;
  }

  .sub-menu::before {
      display: none;
  }

  .nav-list li:hover > .sub-menu {
      opacity: 1;
      visibility: visible;
      max-height: initial;
  }

  li.move-right {
      margin: 0 auto 0 0;
      line-height: initial;
  }

  .menu-icons {
      display: block;
  }

  nav.active .nav-list {
      display: flex;
  }
  
  .wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 30%;
    margin: 0 auto;
  }
  
  .content {
    height: 50%;
    background-size: cover;
    display: grid;
    place-items: center;
  }
  
  .footer {
    width: 100%;
    height: 20rem;
    background-color: #591175;
    line-height: 60px;
  }

  .footer1 {
    font-size: 45px;
    font-weight: 800;
    padding-top: 15px;
    color: #ECCDCD;
    text-shadow: 3px 3px black;
  }

  .footer_icons .button {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin: 0 5px;
    overflow: hidden;
    background: #6e1591;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .footer_icons .button .icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    text-align: center;
    border-radius: 60px;
    box-sizing: border-box;
    line-height: 60px;
  }

  .footer_icons .button .icon i {
    line-height: 60px;
  }
  
  .footer_icons .button span {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 20px;
  }

  .button {
    padding-bottom: 50px;
    text-decoration: none;
    list-style: none;
  }

  .fa-gamepad {
    font-size: 60px;
    padding-right: 15px;
  }

  .fa-play-circle {
    font-size: 60px;
    padding-right: 15px;
  }

  .fa-info {
    font-size: 80px;
    padding-right: 15px;
  }

  .fa-youtube {
    font-size: 60px;
    margin-top: 15px;
    color: #c4302b;
  }

  .fa-discord {
    font-size: 60px;
    margin-top: 15px;
    color: #7289DA;
  }

  .fa-discord span {
    right: 50px;
  }

  .fa-twitter {
    font-size: 60px;
    margin-top: 15px;
    color: #6CADDE;
  }

  .fa-book {
    font-size: 60px;
    margin-top: 15px;
    color: #FF500A;
  }

  .fa-reddit {
    font-size: 60px;
    margin-top: 15px;
    color: #FF4500;
  }

  .fa-linkedin {
    font-size: 60px;
    margin-top: 15px;
    color: #0072B1;
  }

  .fa-github {
    font-size: 60px;
    margin-top: 15px;
    color: #333333;
  }

  .fa-gitlab {
    font-size: 60px;
    margin-top: 15px;
    color: #fc6d27;
  }
  
  .contact-btn {
    text-shadow: 3px 3px black;
    color: #ECCDCD;
  }

  /*
    .small-footer {
      font-size: 20px;
    }
  */

  .fa-gamepad {
    font-size: 90px;
  }

  .fa-play-circle {
    font-size: 100px;
  }

  .fa-info {
    font-size: 100px;
  }

  /*

  .fa-youtube {
    font-size: 100px;
    padding-left: 50px;
    color: #c4302b;
  }

  .fa-discord {
    font-size: 100px;
    padding-top: 50px;
    padding-left: 50px;
    color: #7289DA;
  }

  .fa-twitter {
    font-size: 100px;
    padding-top: 5px;
    padding-left: 50px;
    color: #6CADDE;
  }

  .fa-book {
    font-size: 100px;
    padding-top: 5px;
    padding-left: 50px;
    color: #FF500A;
  }

  .fa-linkedin {
    font-size: 100px;
    padding-top: 5px;
    padding-left: 50px;
    color: #0072B1;
  }
  
  .contact-btn {
    text-shadow: 3px 3px black;
    color: #ECCDCD;
  }
  
  #gmail:hover {
    transform: scale(1.1);
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
*/
  .plogo {
    font-size: 1.8rem;
  }

  #btnScrollToTop {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 70px;
      height: 70px;
      font-size: 25px;
      border-radius: 50%;
      background: #01a2ff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
  }

  #btnScrollToTop:active {
      background: #236cda;
  }
}

@media only screen and (max-width: 980px) {

  #navbar__logo {
    top: -5%;
    transform: translateY(-5%);
  }

  .nav-list {
      position: absolute;
      margin-top: 18.5%;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      align-items: initial;
      background-color: var(--background);
      z-index: 1000;
      overflow-y: scroll;
  }

  .nav-list:active {
    display: block;
  }

  .nav-list > li {
      line-height: 6rem;
  }

  .sub-menu {
      position: initial;
      border: 3px solid transparent;
      border-left-color: #9370db;
      margin-left: 1rem;
      max-height: 0;
  }

  .sub-menu:hover {
    color: #9370db;
  }

  .sub-menu::before {
      display: none;
  }

  .nav-list li:hover > .sub-menu {
      opacity: 1;
      visibility: visible;
      max-height: initial;
  }

  li.move-right {
      margin: 0 auto 0 0;
      line-height: initial;
  }

  .menu-icons {
      display: block;
  }

  nav.active .nav-list {
      display: flex;
  }
  
  .wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .content {
    height: 50%;
    background-size: cover;
    display: grid;
    place-items: center;
  }

  .intro-h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px black;
    padding-bottom: 50px;
  }

  .intro-p {
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px black;
  }

  .video-h1 {
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px black;
  }
  
  .footer {
    width: 100%;
    height: 20rem;
    background-color: #591175;
    line-height: 60px;
  }

  .footer1 {
    font-size: 45px;
    font-weight: 800;
    padding-top: 15px;
    color: #ECCDCD;
    text-shadow: 3px 3px black;
  }

  .footer_icons .button {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin: 0 5px;
    overflow: hidden;
    background: #6e1591;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .footer_icons .button .icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    text-align: center;
    border-radius: 60px;
    box-sizing: border-box;
    line-height: 60px;
  }

  .footer_icons .button .icon i {
    line-height: 60px;
  }
  
  .footer_icons .button span {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 20px;
  }

  .button {
    padding-bottom: 50px;
    text-decoration: none;
    list-style: none;
  }

  .fa-gamepad {
    font-size: 60px;
    padding-right: 15px;
  }

  .fa-play-circle {
    font-size: 60px;
    padding-right: 15px;
  }

  .fa-info {
    font-size: 80px;
    padding-right: 15px;
  }

  .fa-youtube {
    font-size: 60px;
    margin-top: 15px;
    color: #c4302b;
  }

  .fa-discord {
    font-size: 60px;
    margin-top: 15px;
    color: #7289DA;
  }

  .fa-discord span {
    right: 50px;
  }

  .fa-twitter {
    font-size: 60px;
    margin-top: 15px;
    color: #6CADDE;
  }

  .fa-book {
    font-size: 60px;
    margin-top: 15px;
    color: #FF500A;
  }

  .fa-reddit {
    font-size: 60px;
    margin-top: 15px;
    color: #FF4500;
  }

  .fa-linkedin {
    font-size: 60px;
    margin-top: 15px;
    color: #0072B1;
  }

  .fa-github {
    font-size: 60px;
    margin-top: 15px;
    color: #333333;
  }

  .fa-gitlab {
    font-size: 60px;
    margin-top: 15px;
    color: #fc6d27;
  }
  
  .contact-btn {
    text-shadow: 3px 3px black;
    color: #ECCDCD;
  }

  /*
    .small-footer {
      font-size: 20px;
    }
  */


  .fa-gamepad {
    font-size: 90px;
  }

  .fa-play-circle {
    font-size: 100px;
  }

  .fa-info {
    font-size: 100px;
  }

  .plogo {
    font-size: 1.8rem;
  }

  #btnScrollToTop {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 70px;
      height: 70px;
      font-size: 25px;
      border-radius: 50%;
      background: #01a2ff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
  }

  #btnScrollToTop:active {
      background: #236cda;
  }
}

  /* Errors */

.Whoopsies {
  width: 100%;
  height: 100%;
}